{% extends "base.html" %}

{% block body %}
<center>
    <h2>Matches</h2>
</center>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="no-underline" data-toggle="collapse" style="display: block" href="#q1">Q1
                    <span style="float: right">
                    <div class="badge">Winner</div>
                    <span style="color: red">Red Alliance</span>
                </a>
            </h4>
        </div>
        <div id="q1" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="col-sm-12">
                    <a class="col-sm-2 red" href="/sheet/694">694</a>
                    <a class="col-sm-2 red" href="/sheet/694">694</a>
                    <a class="col-sm-2 red" href="/sheet/694">694</a>
                    <a class="col-sm-2 blue" href="/sheet/694">694</a>
                    <a class="col-sm-2 blue" href="/sheet/694">694</a>
                    <a class="col-sm-2 blue" href="/sheet/694">694</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
