{% extends "base.html" %}

{% block body %}
<center>
{% if team %}
<h2>Matches for team {{ team.tid }}</h2>
{% else %}
    <h2>Matches</h2>
{% endif %}
</center>

<div class="container">
    {% if matches %}
    {% for match in matches %}
    {% if match.sheets.length != 0 %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="no-underline" data-toggle="collapse" style="display: block" href="#{{ match.mid.lower() }}">{{ match.mid }}</a>
            </h4>
        </div>
        <div id="{{ match.mid.lower() }}" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="col-sm-12">
                    {% if match.sheets %}
                    {% for sheet in match.sheets %}
                        {% if team and sheet.tid == team.tid %}
                        <a style="text-decoration: underline" class="col-sm-2 {{ sheet.alliance.split(" ")[0].lower() }}" href="/sheets/{{ sheet.tid }}/{{ sheet.sid }}">{{ sheet.tid }}</a>
                        {% else %}
                        <a class="col-sm-2 {{ sheet.alliance.split(" ")[0].lower() }}" href="/sheets/{{ sheet.tid }}/{{ sheet.sid }}">{{ sheet.tid }}</a>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
{% endblock body %}
