{% extends "base.html" %}

{% block body %}
<center>
    <h2>Sheets</h2>
</center>

<div class="container">
    <div id="status"></div>
    <center>
        <a href="#new-sheet-modal" role="button" class="btn btn-primary" data-toggle="modal">New Sheet</a>
    </center>
    <br>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Match</th>
                <th>Team</th>
                <th>Alliance</th>
                <th>More stuff</th>
                <th></th>
            </tr>
        </thead>
        {% if sheets %}
        {% for sheet in sheets %}
        <tbody>
            <tr>
                <td>{{ sheet.mid }}</td>
                <td>{{ sheet.tid }}</td>
                <td>{{ sheet.alliance }}</td>
                <td></td>
                <td class="text-right">
                    <a name="edit-sheet-button" href="#edit-sheet-modal" style="text-align: right" role="button" class="btn btn-primary" data-toggle="modal" value="{{ sheet.sid }}">Edit</a>
                    <button name="delete" style="text-align: right" class="btn btn-primary" value="{{ sheet.sid }}">Delete</a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
        {% endif %}
    </table>
</div>

<div class="modal fade" id="new-sheet-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">

        <form id="new-sheet-form">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Sheet</h4>
                </div>
                <div class="modal-body">

                    <div id="new-sheet-status"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="mid">Match (i.e: Q80 or P3):</label>
                                <input class="form-control uppercase-input" id="mid" required="true">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="tid">Team Number:</label>
                                <input type="number" class="form-control" id="tid" min="1" step="1" required="true">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="alliance">Alliance:</label>
                        <select class="form-control" id="alliance">
                            <option>Red Alliance</option>
                            <option>Blue Alliance</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="new-sheet" type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="edit-sheet-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">

        <form id="edit-sheet-form">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Sheet</h4>
                </div>
                <div class="modal-body">

                    <div id="edit-sheet-status"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="edit-mid">Match (i.e: Q80 or P3):</label>
                                <input class="form-control uppercase-input" id="edit-mid" required="true">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="edit-tid">Team Number:</label>
                                <input type="number" class="form-control" id="edit-tid" min="1" step="1" required="true">
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="edit-sid"/>

                    <div class="form-group">
                        <label for="edit-alliance">Alliance:</label>
                        <select class="form-control" id="edit-alliance">
                            <option>Red Alliance</option>
                            <option>Blue Alliance</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="edit-sheet" type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="{{ url_for('static', filename='js/sheet.js') }}"></script>
{% endblock body %}
