{% extends "base.html" %}

{% block body %}
<center>
    <h2>Teams</h2>
</center>
<div class="container">
    <center>
        <button id="add_team" class="btn btn-primary">Add Team</button>
    </center>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Team number</th>
                <th># of matches</th>
                <th>Matches won</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>694</td>
                <td>694</td>
                <td>694</td>
                <td class="text-right">
                    <a style="text-align: right" class="btn btn-primary" href="/teams/694">View</a>
                    <a style="text-align: right" class="btn btn-primary" href="/api/team/delete/694">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock body %}
